<p>reservar works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>
  <style>
    /* Estilos CSS para el calendario */
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    .calendario {
      max-width: 400px;
      margin: 0 auto;
      border: 1px solid #ccc;
      padding: 20px;
      background-color: #f9f9f9;
    }
    .calendario label {
      display: block;
      margin-bottom: 5px;
    }
    .calendario input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
  </style>
</head>
<body>
  <div class="calendario">
    <h2>Selecciona una fecha de ida </h2>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>
  </div>


  <div class="calendario">
    <h2>Selecciona una fecha de vuelta </h2>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required>
  </div>

  <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Formulario y Ticket de Vuelo</title>
      
    </head>



 